<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUqDaPG94O7oNoDfHxUM0mqulGzqSQ9vg</string>
	<key>GCM_SENDER_ID</key>
	<string>45622787744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.denizatmaca.RunApp</string>
	<key>PROJECT_ID</key>
	<string>runapp-dc716</string>
	<key>STORAGE_BUCKET</key>
	<string>runapp-dc716.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45622787744:ios:9b681878b181218ea713c5</string>
</dict>
</plist>